/*////////////////  Reusable classes  /////////////////*/

.t-center {
  text-align: center;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.mb-sm {
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
}

.p-text-shadow {
  text-shadow: 5px 0px 10px rgb(84, 72, 72);
}

.uline {
  text-decoration: underline;
}

.full-opa {
  opacity: 1;
}

.no-opa {
  opacity: 0;
}

.w-95 {
  max-width: 95%;
}

.overflow-hidden {
  overflow: auto;
}

/*////////////////  Main styles  /////////////////*/

body {
  /* background-color: rgb(9, 9, 201, 0.4); */
  background-color: rgba(126, 126, 166, 0.4);
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

h1 {
  margin: 10px 0 0 0;
  padding: 0;
}

.p-text-shadow-1 {
  text-shadow: 1px 0px 3px rgb(110, 23, 23);
}

.bg-img-container {
  /* background-image: url("./assets/programming-background-with-person-working-with-codes-computer.jpg"); */
  background-image: url("https://img.freepik.com/free-photo/programming-background-with-person-working-with-codes-computer_23-2150010117.jpg?t=st=1715431724~exp=1715435324~hmac=9569fed9886dab039f0c0d22dce219234ae640661ff49778b9b55138487a54d3&w=1380");
  background-size: 100vw 103vh;
  background-repeat: no-repeat;
  width: 99vw;
  height: 103vh;
  z-index: -1;
  position: absolute;
  top: 0px;
  opacity: 0.2;
}

a {
  text-decoration: none;
}

a:link {
  color: blue;
  padding: 1px;
  text-shadow: 2px 0px 1px rgb(19, 187, 19);
  font-size: 1.7rem;
  background: green;
  border: 3px solid white;
}
a:active {
  color: white;
}
a:visited {
  color: rgb(5, 19, 4);
}

/*////////////////  Other styles  /////////////////*/

.navbar {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
  width: 18%;
  position: absolute;
  margin-top: 13%;
  font-size: 1.5rem;
}
.nav-items {
  width: fit-content;
  padding-left: 5px;
  padding-top: 2px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-style: solid;
  border-color: rgb(112, 88, 88);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  transition: transform 3s ease;
  cursor: pointer;
}
.onload-nav {
  transform: translateX(50px);
}
.onload-img {
  transition: opacity 4s ease;
  opacity: 1;
}

.nav-items li {
  margin-bottom: 10px;
  transition: transform 2s ease;
}

.nav-items li:hover {
  transform: translateX(40px);
}

.content-container {
  border: 2px solid black;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  position: absolute;
  top: 10.2%;
  left: 22%;
  flex-wrap: wrap;
  width: 76%;
  box-shadow: 0px 0px 2px 5px rgb(122, 24, 24, 0.7);
  transition: transform 3s ease, opacity 3s ease;
}

.img-container {
  margin-top: 20px;
  width: 100%;
}

.img-container img {
  width: 57vw;
  height: 50vh;
  border-radius: 50%;
}

.me-img {
  opacity: 0;
}

.hamburger-menu {
  position: absolute;
  top: 15px;
}

.h-title {
  text-decoration: underline;
}

/* .line {
  position: relative;
  background-color: black;
  margin-top: 10px;
  margin-left: 40vw;
  width: 70px;
  height: 5px;
} */

.m-t-content-cont-sm {
  top: 125px;
  position: relative;
  display: block;
}

@media screen and (max-width: 500px) {
  .header {
    /* transform: translateY(50px); */
    padding-top: 15px;
  }
  .navbar {
    /* display: none; */
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    margin-top: 0;
  }
  /* .mini-nav {
    left: 100px;
    position: absolute;
  } */
  /* .nav-items {
    top: -70px;
    left: 75px;
    position: absolute;
  } */
  .nav-items {
    margin-top: 0;
    margin-bottom: 0;
  }

  .bg-img-container {
    width: 100vw;
    height: 300vh;
    background-size: 100vw 300vh;
  }
  /* .content-container {
    margin-top: 15px;
    left: 15%;
    top: 200px;
    display: block;
  } */
  .content-container {
    margin-top: 0px;
    position: relative;
    width: 90%;
    left: 3.5%;
  }
  .gitlink {
    width: 95%;
  }
  .img-container img {
    width: 70vw;
    height: 36vh;
    border-radius: 50%;
  }
}

@media screen and (min-width: 500px) {
  .hamburger-menu {
    display: none;
  }
  .gitlink {
    width: fit-content;
  }
}
