// COLORS VARIABLES
$color-test-1: #ffffff;
$color-test-2: #c6cdd4;
$color-primary-light: #cedeee;
$color-primary-dark: #1e3a5f;

$color-secondary-light: #a3d2ca;
$color-secondary-dark: #101d2c;

$color-white: #ffffff;
$color-black: #000000;

$color-black-1: #222222;
$color-black-2: #333333;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-blue-1: #1f236e;
$color-blue-2: #051a2e;

$color-purple-light: #b19cd9;
$color-purple-dark: #6e44ff;

$color-pink-light: #ffb3c6;
$color-pink-dark: #ff4d6d;

$color-red-light: #ff7f87;
$color-red-dark: #d90429;

$color-green-light: #b7e4c7;
$color-green-dark: #2b7a0b;

$color-blue-light: #9ed0ff;
$color-blue-dark: #0047ab;

$color-orange-light: #ffd8b1;
$color-orange-dark: #ff7f11;

$color-yellow-light: #fff3b0;
$color-yellow-dark: #ffca3a;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// BREAKPOINTS
$bp-large: 75em; // 1200px
$bp-medium: 62.5em; // 1000px
$bp-small: 43.75em; // 700px
$bp-smallest: 37.5em; // 600px

// GLOBAL RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  // RESPONSIVE FONT SIZING //
  @media only screen and (max-width: $bp-large) {
    font-size: 56.25%; // 1rem = 9px
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%; // 1rem = 8px
  }
  @media only screen and (max-width: $bp-smallest) {
    font-size: 43.75%; // 1rem = 7px
  }
}

// BASE BODY STYLES
body {
  font-family: $font-primary;
  color: $color-primary-dark;
  font-weight: 400;
  line-height: 1.6;
  background-color: $color-primary-light;
  background-image: linear-gradient(
    to right bottom,
    $color-test-1,
    $color-test-2
  );
}

// BODY STYLES (BODY IS THE MAIN CONTAINER)
.container {
  display: grid;
  grid-template-rows: 6rem calc(100vh - 6rem) 100vh 6rem;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 19rem) [col-end]
    )
    [center-end]
    minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-small) {
    grid-template-rows: 12rem calc(100vh - 10rem) repeat(2, max-content);
    &:has(.header .nav .nav__list--open) {
      grid-template-rows: max-content;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
