@use "./base" as *;

.header {
  grid-row: 1 / 2;
  grid-column: center-start / center-end;
}

.content {
  grid-column: full-start / full-end;
  display: grid;
  align-content: start;

  @media only screen and (max-width: $bp-small) {
    grid-row: 1 / 2;
  }
  @media only screen and (max-width: $bp-smallest) {
    grid-row: 2 / 3;
  }
}

.projects {
  position: relative;
  grid-column: full-start / full-end;
  grid-row: 3 / 4;
  display: grid;
  grid-template-rows:
    min-content max-content
    min-content;

  @media only screen and (max-width: $bp-small) {
    margin-top: 5rem;
  }
}

.skills {
  grid-column: center-start / col-end 6;
  grid-row: 4 / 5;
  margin-top: 1rem;
  @media only screen and (max-width: $bp-medium) {
    justify-content: center;
  }

  @media only screen and (max-width: $bp-smallest) {
    grid-column: center-start / center-end;
  }
}

.contact {
  grid-column: col-start 7 / col-end 8;
  grid-row: 4 / 5;
  margin-top: 1rem;

  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start / full-end;
    grid-row: 5 / 6;
    margin-top: 2rem;
  }
}

.footer {
  font-size: 1.8rem;
  justify-self: center;
  grid-column: center-start / center-end;
  grid-row: 5 / 6;

  @media only screen and (max-width: $bp-medium) {
    grid-row: 6 / 7;
    margin-top: 1.2rem;
    padding-left: 1rem;
  }
}
