.t-center {
  text-align: center;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.mb-sm {
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
}

.p-text-shadow {
  text-shadow: 5px 0px 10px rgb(84, 72, 72);
}

.uline {
  text-decoration: underline;
}

.full-opa {
  opacity: 1;
}

.no-opa {
  opacity: 0;
}

.w-95 {
  max-width: 95%;
}

.overflow-hidden {
  overflow: auto;
}
